/* Algemeen */

html {
  box-sizing: border-box;
  background: #121212;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1em auto;
  padding: 1em;
}

/* Main */

main {
  transform: translateX(20%);
  max-width: 80%;
}

/* Header */

main header {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 2em;
  margin-left: 0.5em;
}

main header button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 1em 2em;
  margin: 0.5em;
  border-radius: 0.5em;
  font-size: 12pt;
  transition: ease-in 0.3s;
  opacity: 0.7;
}

/* Header button states */

main header button:hover {
  opacity: 1;
}

main header button:active {
  transform: scale(0.9);
}

main header button:focus {
  outline: none;
  filter: drop-shadow(0 0 0.75rem white);
}

#allesuit:hover {
  border: 3px solid green;
  background: #121212;
}

/* Header classList na toevoegen in js */

.roodbutton {
  border: 3px solid red;
  background-color: #121212;
  color: white;
}

.geelbutton {
  border: 3px solid yellow;
  background-color: #121212;
  color: white;
}

.blauwbutton {
  border: 3px solid blue;
  background-color: #121212;
  color: white
}

.zwartwitbutton {
  border: 3px solid white;
  background-color: #121212;
  color: white
}

/* Article */

main article {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

main article div {
  margin: 1em;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: #121212;
}

.rood {
  border: 5px solid red;
}

.blauw {
  border: 5px solid blue;
}

.zwart_wit {
  border: 5px solid white;
}

.geel {
  border: 5px solid yellow;
}

/* Article classList na toevoegen in js */

.verwijderen {
  display: none;
}