html {
  box-sizing: border-box;
  background: #121212;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1em auto;
  padding: 1em;
}

main header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 2em;
}

main header button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-size: 12pt;
}

main header button:hover {
  background-color: darkgreen;
}

main article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main article div {
  margin: 1em;
  height: 200px;
  width: 200px;
}

.toevoegen {
  display: none;
}

.kleurbutton {
  background-color: green;
}

main article div:nth-child(1) {
  border: 5px solid red;
}

main article div:nth-child(2) {
  border: 5px solid blue;
}

main article div:nth-child(3) {
  border: 5px solid white;
}

main article div:nth-child(4) {
  border: 5px solid yellow;
}

main article div:nth-child(5) {
  border: 5px solid yellow;
}

main article div:nth-child(6) {
  border: 5px solid red;
}

main article div:nth-child(7) {
  border: 5px solid blue;
}

main article div:nth-child(8) {
  border: 5px solid white;
}